
.App {
overflow: scroll;
}


.App-header {
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: sticky;
  left: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Arial, sans-serif;
}

/* Styles for table header */
th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th div {
  display: flex;
  justify-content: space-between;

}

th span {
  margin: 5px;
  border: 5px solid transparent;
}


/* Styles for table rows */
td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Alternate row background color */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect */
tr:hover {
  background-color: #ddd;
}